@import 'mapbox-gl/dist/mapbox-gl.css';

.font-14 {
    font-size: 14px;
}

.banner-font {
    font-size: 3.5rem;
}

.main-color {
    color: #FFA633 !important; 
}

.mtd-30 {
    margin-top: -30px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.booking-service {
    border: 1px solid #676767;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-service:hover {
    background-color: #FFA633 !important;
}